<div class="name">
  <ion-title class="home-title">
    Prescriptions
  </ion-title>
  <ion-slides class="animate-item" [options]="sliderConfig" *ngIf="prescriptions && prescriptions.length > 0">
    <ion-slide *ngFor="let prescription of prescriptions" (click)="callPrescriptionPage(prescription)" >
      <!-- For Real Products -->
      <ion-card  class="card no-padding">
        <img *ngIf="prescription && prescription.patient.imageUrl != ''" [src]="prescription.patient.imageUrl"  />
        <img *ngIf="!prescription || prescription.patient.imageUrl == ''" src="../../../../assets/imgs/medical-prescription.png"  /> 
        
      </ion-card>
      <div class="text-content">

        <h6 class="home">
          {{prescription.patient.firstname}} {{prescription.patient.lastname}}
        </h6>
      </div>
      <!-- For Skeleton -->
      
    </ion-slide>
  </ion-slides>
  <div class="name" *ngIf="prescriptions && prescriptions.length == 0  ">
    <ion-title class="title">Their is no prescriptions </ion-title>
  </div>
  <div class="spin" *ngIf="!prescriptions" >
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</div>






