<app-header [type]="'modal'"></app-header>


<ion-content>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12" size-md="8" offset-md="2" class="center">
                <form novalidate [formGroup]="resetPasswordForm" class="form" (ngSubmit)="resetPassword()">
                    <ion-item lines="none" class="ion-input" *ngIf="step == 'add phoneNumber'">
                        <ion-icon name="call"></ion-icon>
                        <ion-input placeHolder="Phone Number" formControlName="phoneNumber" (keypress)="numberOnlyValidation($event)"></ion-input>
                    </ion-item>
                    <ion-label class="label-error" *ngIf="formErrors && formErrors.phoneNumber">
                        *{{formErrors.phoneNumber}}</ion-label>
                    
                    <ion-item lines="none" class="ion-input" *ngIf="step == 'reset-password'">
                        <ion-icon name="lock-closed"></ion-icon>
                        <ion-input placeHolder="Password" formControlName="password"></ion-input>
                    </ion-item>
                    <ion-label class="label-error" *ngIf="formErrors && formErrors.password">*{{formErrors.password}}
                    </ion-label>
                    <ion-item lines="none" class="ion-input" *ngIf="step == 'reset-password'">
                        <ion-icon name="lock-closed"></ion-icon>
                        <ion-input placeHolder="Connfirm Password" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                    <ion-label class="label-error" *ngIf="formErrors && formErrors.confirmPassword">
                        *{{formErrors.confirmPassword}}</ion-label>
                    <ion-button class="buttons" [disabled]="resetPasswordForm.invalid || submitted " type="submit"
                        shape="round" size="default" expand="full" *ngIf="step == 'reset-password'">
                        <ion-label *ngIf="!submitted">Reset Password</ion-label>
                        <ion-spinner name="bubbles" *ngIf="submitted"></ion-spinner>
                    </ion-button>
                    <ion-button class="buttons" (click)="sendToPhone()" shape="round" size="default" expand="full"
                        *ngIf="step == 'add phoneNumber'">
                        <ion-label *ngIf="!submitted">Send Code</ion-label>
                        <ion-spinner name="bubbles" *ngIf="submitted"></ion-spinner>
                    </ion-button>
                    
                </form>
            </ion-col>
        </ion-row>
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="8" offset-md="2" class="center">
                    <ion-label class="label-info" *ngIf="step === 'confirm OTP'" >
                        Code sent to +91 {{resetPasswordForm.value.phoneNumber}}</ion-label>  
                <ion-item lines="none" class="ion-input" *ngIf="step === 'confirm OTP'">
                    <ion-icon name="call"></ion-icon>
                    <ion-input placeHolder="OTP" [(ngModel)]="verificationNumber" (keypress)="numberOnlyValidation($event)"></ion-input>
                </ion-item>
                <ion-button class="buttons" (click)="confirmOTP()" shape="round" size="default" expand="full"
                        *ngIf="step == 'confirm OTP'">
                        <ion-label *ngIf="!submitted">Confirm OTP</ion-label>
                        <ion-spinner name="bubbles" *ngIf="submitted"></ion-spinner>
                    </ion-button>
                <ion-button class="buttons" (click)="back('add phoneNumber')" shape="round" size="default"
                        color="success" expand="full" *ngIf="step == 'confirm OTP'">
                        
                        <ion-label *ngIf="!submitted">Change Phone</ion-label>
                        <ion-spinner name="bubbles" *ngIf="submitted"></ion-spinner>
                    </ion-button>
                    
                </ion-col>
                
            </ion-row>
        </ion-grid>
    </ion-grid>

    <div id="recaptcha-container" style="display:none"></div> 

</ion-content>