.main_content_div{
    width: 100%;

    .segment_div{
        display: flex;
        margin-top: 20px;
        border-bottom: 1px solid lightgray;
        justify-content: space-around;
        ion-label {
            color: rgb(1, 1, 1);
            padding-bottom: 10px;
            width: 100%;
            text-align: center;
        }
        .active{
            border-bottom: 1px solid red;
        }
    }

    .centent_div{
        padding: 20px;

        ion-label {
            display: block;
        }
    }

    .card_div{
        width: 100%;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        border: 0.5px solid lightgray;

        .line_div{
            height: 1px;
            width: 100%;
            background: lightgray;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .resto_detail{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
        
            .back_image{
                height: 50px;
                width: 50px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 100%;
            }

            .res_name{
              font-weight: 600;  
              font-size: 14px;
            } 
            .res_location{
                color: rgb(0, 0, 0);
                font-size: 14px;
            }

            .order_id{
                position: absolute;
                right: 5px;
                font-size: .6rem;
                ion-label {
                   text-align: right;
                }
            }
        }

        .order_detail{
            .head_gray{
                color: rgb(6, 2, 2);
                font-size: 13px;
                margin-top: 10px;
            }
            .small_lbl{
                font-size: 14px;
                font-weight: 600;
            }

            .prize{
                position: absolute;
                right: 35px;
                font-weight: 600 !important;
            }
        }
    }
}

.blinkbg{
    animation: blinkingBackground 1s infinite;
}
@keyframes blinkingBackground{
    0%   { --background: #fff; }
    49% { --background: #fff; }
    50% { --background: rgb(181, 0, 0); }
    99% { --background: rgb(181, 0, 0);  }
    100% { --background: #fff; }
}

.notes{
    margin-bottom: 10px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 5px;
    color:red;
}

.ion-color-darkgreen {
  position: relative;
  top: 2px;
  --ion-color-base: var(--ion-color-darkgreen);
  --ion-color-base-rgb: var(--ion-color-darkgreen-rgb);
  --ion-color-contrast: var(--ion-color-darkgreen-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darkgreen-contrast-rgb);
  --ion-color-shade: var(--ion-color-darkgreen-shade);
  --ion-color-tint: var(--ion-color-darkgreen-tint);
}

.ion-color-mauve {
  position: relative;
  top: 2px;
  --ion-color-base: var(--ion-color-mauve);
  --ion-color-base-rgb: var(--ion-color-mauve-rgb);
  --ion-color-contrast: var(--ion-color-mauve-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mauve-contrast-rgb);
  --ion-color-shade: var(--ion-color-mauve-shade);
  --ion-color-tint: var(--ion-color-mauve-tint);
}

div.segment_div > *, div.card_div {
  cursor: pointer;
}

.item-order {
    display: inline-block;
    width: 98% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.item-order:first-child{
    margin-top: 50px;
}

ion-segment-button {
    min-width: auto !important;
    font-size: 10px;
}

.segments {
    --background: white;
}

.item-order-accepted {
    display: inline-block;
    width: 98% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    --ion-background-color: lightgreen;
    background-color: lightgreen;
}

.item-order-accepted .item-native {
    background-color: lightgreen;

}

.item-order-created {
    display: inline-block;
    width: 98% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    --ion-background-color: lightblue;
    background-color: lightblue;
}

.item-order-accepted .item-native {
    background-color: lightblue;

}

.item-order-canceled {
    display: inline-block;
    width: 98% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    --ion-background-color:  lightcoral;
    background-color: lightcoral;
}

.item-order-canceled .item-native {
    background-color:  lightcoral;

}

.item-order-rejected {
    display: inline-block;
    width: 98% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    --ion-background-color:  red;
    background-color: red;
}

.item-order-rejected .item-native {
    background-color:  red;

}


.item-order-delivered {
    display: inline-block;
    width: 98% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    --ion-background-color:  greenyellow;
    background-color: greenyellow;
}

.item-order-delivered .item-native {
    background-color: greenyellow;

}






.avatar-icon {
    display: inline-block;
    //width: 25%;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}
.container {
    text-align: center;
    display: inline-block;
    width: 80% ;
    padding: 5px;
    vertical-align: middle;
}

.container-accepted {
    text-align: center;
    display: inline-block;
    width: 80% ;
    padding: 5px;
    vertical-align: middle;
    background-color: lightgreen;
}

.list-orders {
    display: block;
    text-align: center;
    padding: 5px;
}

.inner-container{
    font-size: 11px;
    width: 50%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

.inner-item {
    text-align: left;

}

.header-item {
    display: inline-block;
    width: 100% !important;
    text-align: center;
}
.bottom {
    border-top: 1px solid black;
    display: inline;
}
.main-container {
    width: 100%;
    display: block;
}

.main-container-accepted {
    width: 100%;
    display: block;
    background-color: lightgreen;
}
.bottom .inner-container {
    display: inline;
}
.bottom .inner-container .inner-item:first-child {
    display: inline-block;
    text-align: left;
    width: 50%;
    vertical-align: middle;
}

.bottom .inner-container .inner-item:last-child {
    display: inline-block;
    text-align: right;
    width: 50%;
    vertical-align: middle;

}



.ion-icon {
    font-size : 17px;
    vertical-align: middle;
}
h1 {
    font-weight: bold;
    font-size : 25px;
}

@media screen and (min-width: 601px) {
    .ion-icon {
        font-size : 28px;
    }
    .inner-container{
        font-size: 18px;
    }
    .inner-item-last {
        text-align: center;
        width: 100%;
        position: absolute;
        margin-top: 1%;
        margin-left: -15%
    }
    ion-segment-button {
        min-width: auto !important;
        font-size: 15px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    
    .ion-icon {
        font-size : 18px;
    }
    .inner-container{
        font-size: 11px;
    }
    .inner-item-last {
        text-align: center;
        width: 100%;
        position: absolute;
        margin-top: 25px;
        margin-left: -50px
    
    }
    ion-segment-button {
        min-width: auto !important;
        font-size: 6px;
    }
  }