.name {
    margin-top: 40px !important;
    .swiper-slide {
      display: block;
      width: 110px !important;
    }
    ion-card {
      background: #07acf8;
      border-radius: 0;
      box-shadow: #eee;
      box-shadow: none;
      ion-img {
        height: 150px;
        width: 100%;
      }
      img {
        width: 100%;
      }
  
      h6 {
        font-size: 12px !important;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
        margin-top: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: white;
      }
      
    
  }
  
  
}
  
  img  {
    width: 50% !important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .card {
    border-radius: 15px !important;
    box-shadow: 4px 6px 8px grey !important;
    padding: 15px;
    --background : #07acf8 !important;
    min-height: 80px;
    width: 80px;
    margin: 0 auto;
  }
  
  .text-content {
    color : black;
    font-size: 12px !important;
  }

  h6 {
      font-size: 13px !important;
  }

  .title {
    font-size: 17px;
    color :black;
    margin-bottom: 15px;
    margin-left: -15px;
    text-align: center;
  }

  .home-title {
    font-size: 17px;
    margin-bottom: 15px;
    margin-left: -15px;
    color : gray;
  }

  .spin{
    position: absolute;
    background-attachment: #2B91BF;
    z-index: 1500;
    top: 50%;
    left: 50%;
    color : #2B91BF;
    transform: translate(-50%, -50%);
  }