.card {
    min-height: 400px;
    /* width: 100%; */
    border-radius: 22px;
}

.profile-holder {
    padding: 20px;
    font-size: 15px;
}

.img {
    text-align: center;
}

.name {
    font-weight: bold;
    font-size: 19px;
    word-break: break-all;
    margin-left: 40px;
    width: 100%;
    white-space: nowrap;
}

.description {
    font-size : 17px;
    color: black;
    font-weight: lighter;
    word-wrap: break-word;         
    overflow-wrap: break-word;     
    width: 100%;
}

.description .text {
    font-size : 17px;
    color: black;
    font-weight: lighter;
    word-wrap: break-word;         
    overflow-wrap: break-word;     
    width: 100%;
}

.date {
    display: block;
    margin-left: 52px;
    margin-top: 5px;
    font-size: 13px;
}

.slide{
    display: block;
}

.button-download{
    font-size: 18px;
    color:white;
    margin: 0 auto;
    --background:#2B91BF;

}

.image{
    height: 500px;
}

.download {
    padding: 20px;
}


.prescription-holder {
    display: block;
}

.prescription-holder img {
    width: 100%;
    margin: 0 auto;
}

.header{
    display: block;
}

.spin{
    position: fixed;
    top: 50%;
    left: 50%;
    color : #2B91BF;
    transform: translate(-50%, -50%);
  }

  .image-upload>input {
    display: none;
  }


ion-fab {
    color :#2B91BF;
}


.comment-holder {
    text-align: left;
    width: 100%;
    display: inline;
    padding: 5px;
    margin-bottom: 5px;

}

.comment-holder h1 {
    text-align: center;
    color: gray;
}

.add-comment-text {
    color:gray;
}

.comment-holder .img {
    
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .comment-holder.hidden {
    display: none;
}
.comment-holder.ows {
    --background: #2B91BF;
}

  .add-comment {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    margin-left: 15px;
  }

  .text {
    color: black;
    font-weight: lighter;
    word-wrap: break-word;         
    overflow-wrap: break-word;     
    width: 100%;
  }